.snacks-container{
 /* padding-left: 50px;   
 padding-right: 50px; */
 position: relative;
 overflow: hidden;
 padding: 25px;
}

h1 {
    font-weight: 500;
}
img{
    height: 10em;
}
.card{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.578);
    transition: border-color 0.5s ease;
    transition: box-shadow 0.5 ease;
}
.card:hover{
    border-color: orange;
    box-shadow: rgba(111, 107, 100, 0.2) 0px 7px 29px 0px;
}

.cards-container{
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
}

.prodname{
    padding: 10px;
}
.card-image{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /* flex-direction: column; */
    /* text-align: center;     */
}

img{
    width: 150px;
}

.swiperLeftbtn{
    position: absolute;
    bottom: 35% ;
    right: 10px;
    border: 0px;
    border-radius: 40%;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.274);
    color: blue;
    width: 50px;
    opacity: 0.2;
    cursor: pointer;
}

.swiperRightbtn{
    position: absolute;
    bottom: 35%;
    left: 30px;
    border: 0px;
    border-radius: 40%;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 255, 0.5);
    width: 50px;
    opacity: 0.2;
    cursor: pointer;
}

.swiperLeftbtn:hover {
    opacity: 1;
}

.swiperRightbtn:hover{
    opacity: 1;
}