<div class="snacks-container">
    <div class="header">
        <h1>Snacks & Munchies</h1>
    </div>
    <div class="cards-container" #cardcontainerel >
        <!-- [style.right]="rightvalue" -->
        <div class="card" *ngFor="let products of smproducts">
            <div class="card-image" *ngFor="let prod of products">
            <img [src]="prod.image" alt="">
            <label class="prodname">{{prod.prodname}}</label>
        </div>
    </div>
    </div>
    <button class="swiperLeftbtn" (click)="swiperLeftbtn(cardcontainerel,leftbtn,rightbtn)" #leftbtn> > </button>
    <button class="swiperRightbtn" (click)="swiperRightbtn(cardcontainerel,rightbtn,leftbtn)" #rightbtn> < </button>
</div>

<!-- <div #child1></div> -->