app-product-catalogue{
    position: relative;
    
}
.dashboard-container{
    margin-top: 100px;
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
.add-banner{
    height: inherit;
    width: 90%;
}
img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.dashtext{
    position: absolute;
    width: 450px;
    font-size: 3.5em;
    top: 70px;
    right: 80px;
    font-weight: 800;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.60);
    
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}